*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: REG-F;
    src:url("../../fonts/ClashDisplay-Regular.otf");
}
#main{
    height: 100%;
    width: 100%;
    background-image: url("https://plus.unsplash.com/premium_photo-1670279527565-4ebedeb78429?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fGd0YSUyMDV8ZW58MHx8MHx8fDA%3D");
    background-position: center;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
}
.card{
    height: 360px;
    width: 380px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;

    
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bottom{
    height: 35%;
    width: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: -35%;
    transition: all ease 0.5s;
    color: white;
    font-size: 20px;
    font-family: REG-F;
padding: 20px;
}

.card:hover .bottom{
    bottom: 0%;

}