*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: black;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 30px; */
  anchor-name: --some-anchor;
}
.box{
  height: 300px;
  width :300px;
  border-radius: 10px;
}
.red{
  background-color: maroon;
}
.blue{
  background-color: darkblue;
}
.green{
  background-color: darkgreen;
}
.box:hover{
  cursor: pointer;
  anchor-name: --some-anchor;
}
.anchor{
  background-color: rgb(116, 111, 111);
  border-radius: 10px;
  position: absolute;
  pointer-events: none;
  position-anchor: --some-anchor;
  left: anchor(left);
  top: anchor(top);
  bottom: anchor(bottom);
  right: anchor(right);
  transition: all 0.3s linear;
  mix-blend-mode: difference;
}