*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: SF-PRO;
    src: url("../../fonts/SFPRODISPLAYREGULAR.OTF");
}
@mixin flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin button-style($bg-color:darkgray){
    background-color: $bg-color;
    color: black;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    padding: 15px 15px;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    @include flexCenter;
    

    section{
        height: 50%;
        width: 50%;
        background-color: whitesmoke;
        @include flexCenter;
        
        
        .blue{
            @include button-style(red);
        }
        .red{
            @include button-style(blue);
            color: white;
        }
        
        h1{
            font-family: SF-PRO;
        }
    }
}






