*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
   
}
html,body{
    height: 100%;
    width: 100%;
    background: #fbfafa;
}
@font-face {
    font-family:Naamkeliye;
    src:url("../../fonts/GreaterTheory.otf");
}
@font-face {
    font-family: horror;
    src: url("../../fonts/Berosong-Regular.ttf");
}
@font-face {
    font-family: Electra;
    src: url("../../fonts/ElectraLTStd-Regular.ttf");
}
#naam{
    height: 200px;
    background: midnightblue;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0;
    flex-direction: column;
    font-family: Naamkeliye;
    
}
.name2{
    font-size: 15px;
    font-weight:normal;
    padding-top: 12px;
}
.name1{
  
    font-size: 30px;
    letter-spacing: 3px;
    
}
#about\ sec{
    padding: 40px;
    border-radius: 8px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 25px;
    height: 200px;
    background: white;
    border: 2px solid #f1ebeb;
    text-align: center;

}
.merebaaremei2{
    text-align: center;
    font-family: Electra;
    margin-top: 23px;
}
#meriEducation{;
    background: #d5e4ef;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 8px;
    height: 300px;
}
.EdHead{
    text-align: center;
    margin-top: 16px;
    
}
.clgname{
    text-align: center;
    max-width: 900px;
    margin: 20px auto;
    height: 45px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border: 2px solid #f1ebeb;
}
#meriskills{
    background: #FFF5CC;
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
    margin-top: 25px;
    border-radius: 8px;
    text-align: center;
    padding: 40px;
    
}
.javascrpit{
    background: white;
    border: 2px solid #f1ebeb;
    text-align: center;
    max-width: 900px;
    margin: 40px auto;
    height: 55px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    border-radius: 4px;
}
#projects{
    background: #F2F0FF;
    height: 430px;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 1200px;
    border-radius: 8px;
    text-align: center;
    padding: 40px;
}
.builds{
    background: white;
    text-align: center;
    max-width: 900px;
    margin: 45px auto;
    height: 55px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    border-radius: 4px;
}
#contact{
    background: radial-gradient(#E8FFF1, #6aea6a);
    height: 355px;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 1200px;
    border-radius: 8px;
    text-align: center;
    padding: 40px;
}
.bataoji{
    background: white;
    text-align: center;
    margin: 30px auto;
    height: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    border-radius: 4px;
}
.footer {
    background: linear-gradient(to right bottom, #3093cf,darkblue);
    color: white;         
    text-align: center;   
    padding: 20px 0;      
    margin-top: 40px;     
}

