*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
head,body{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: MED-F;
    src:url("../../fonts/ClashDisplay-Medium.otf");
}
@font-face {
    font-family: REG-F;
    src:url("../../fonts/ClashDisplay-Regular.otf");
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    padding: 13px 16px;
    word-spacing: 10px;
    font-size: 16px;
    font-family:REG-F;
}
#nav a{
    color: black;
    text-decoration: none;
}
h1{
    font-size: 250px;
    font-family:REG-F;
    padding-left: 65px;

}
#btmleft{
    position: absolute;
    width: 250px;
    bottom: 220px;
    left: 60px;
    word-spacing: 5px;
    font-family: MED-F;
    font-weight: lighter;
}
#btmleft h4{
    margin-top: 50px;
    font-size: 23px;
}
#btmleft h3{
    font-size: 23px;
}
#bottombar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 50px;
    padding: 0 60px;
}
#bottombar a{
    text-decoration: none;
    color: black;
    font-family: MED-F;
    font-weight: bolder;
    font-size: 18px;
}
#main2 img{
    position: absolute;
   
}
#img1{
    top: 29%;
    left: 65%;
    height: 430px;
}
#img2{
    height: 280px;
    top: 54%;
    left: 52%;
}
#img3{
    height: 360px;
    top: 35%;
    left: 40%;
}